@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    line-height: 1.2;
  }

  h1 {
    line-height: 1.2;
  }

  h2 {
    line-height: 1.25;
  }

  h3 {
    line-height: 1.3;
  }
}

